@import 'variables';

*{
    font-family: $font_family;
}

html, body{
    background: #ffffff;
    font-family: $font_family;
}

.middle-nav:not(.uk-navbar-transparent){
    background: #ffffff;
    border-bottom: 0px solid #f5f5f5;
    & .uk-navbar li a{
        height: 35px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #1c1c1c;
        text-transform: capitalize;
    }
}

.app-hero{
    font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.app-hero-sub{
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: rgba(28, 28, 28, 0.87);
}

.btn-white{
    border-radius: 5px;
  border: solid 1px #707070;
  background-color: #ffffff;
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #1c1c1c;
}

.btn-white-2{
    background-color: #ffffff;
    font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #2398a8;
  & :hover{
      color: #2398a8;
  }
}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle{
    min-height: 50px;
}



#NavOffcanvas .uk-offcanvas-bar{
    background: #fff;
    color: #111;
}

#NavOffcanvas .uk-offcanvas-bar .uk-offcanvas-close,
#NavOffcanvas .uk-offcanvas-bar .uk-nav-default li a,
#NavOffcanvas .uk-offcanvas-bar ul li a,
#NavOffcanvas .uk-offcanvas-bar *{
    color: #2398a8;
    font-size: 16px;
}

#NavOffcanvas .uk-offcanvas-bar *:hover{
    text-decoration: none;
}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li{
    padding: 5px;
}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li a i,
#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li a{
    color: #2398a8;
    cursor: pointer;
}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li:hover{
    background: #2398a8;
    padding: 5px;
    cursor: pointer;
    
}

#NavOffcanvas .uk-offcanvas-bar .mobile-side-nav li:hover *{
    color: #fff;
    text-decoration: none;
}


.app-section-title{
    font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.app-section-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: rgba(28, 28, 28, 0.87);
}

.uk-overlay-pri{
    background: rgba(4, 172, 180, 0.87);
}

.form-control{
  border-radius: 2px;
  border: solid 1px #707070;
  background-color: #ffffff;
  & ::placeholder{
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #bababa;
   }
  & :focus{
      color: #bababa; 
      box-shadow: none;
     }
}

._modal_title{
    font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-align: center;
}

._modal_sub{
    opacity: 0.87;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.has-error .form-control{
    border: 1px solid #DD0101;
    color: #DD0101;
}

.has-error .help-block{
    color: #DD0101;
    font-size: 12px;
    margin:1px;
}

.text-white{
    color: #fff;
}